In [1]:
from chebi_tools import ChEBIStandardizer

In [2]:
std = ChEBIStandardizer()

In [3]:
import pandas as pd

In [4]:
db_acc = pd.read_parquet(std.downloader.files['database_accession'])

In [5]:
db_acc.set_index('ACCESSION_NUMBER').loc['C00418']

                     ID  COMPOUND_ID         SOURCE                     TYPE
ACCESSION_NUMBER
C00418              805        17710  KEGG COMPOUND  KEGG COMPOUND accession
C00418            65810        17710  KEGG COMPOUND  KEGG COMPOUND accession
C00418            99043        36464  KEGG COMPOUND  KEGG COMPOUND accession

# Find standardized name records

In [6]:
std.process('Glucosamine')

WARNING:root:Multiple matches for "glucosamine":
                       SOURCE  COMPOUND_ID         NAME        TYPE
NAME_lowercase
glucosamine     KEGG COMPOUND         5417  Glucosamine     SYNONYM
glucosamine             IUPAC         5417  glucosamine  IUPAC NAME
glucosamine     KEGG COMPOUND         5417  glucosamine         NaN
Taking first entry.

{'CHEBI': 'CHEBI:5417',
 'REF_CHEBI': 'CHEBI:5417',
 'REF_NAME': 'Glucosamine',
 'EXACT_MATCH': True,
 'COMPOUND_ID': 5417,
 'SMILES': None,
 'QUERY': 'Glucosamine',
 'DrugBank': 'DB01296',
 'KEGG COMPOUND': 'C01811'}

In [7]:
std.process('glutathione')

WARNING:root:Multiple matches for "glutathione":
                       SOURCE  COMPOUND_ID         NAME     TYPE
NAME_lowercase
glutathione     KEGG COMPOUND        16856  Glutathione  SYNONYM
glutathione           UniProt        57925  glutathione     NAME
glutathione             ChEBI        16856  glutathione      NaN
Taking first entry.
ERROR:root:16856

{'COMPOUND_ID': 16856,
 'EXACT_MATCH': True,
 'CHEBI': 'CHEBI:16856',
 'REF_NAME': '',
 'REF_CHEBI': '',
 'SMILES': 'N[C@@H](CCC(=O)N[C@@H](CS)C(=O)NCC(=O)O)C(=O)O',
 'QUERY': 'glutathione'}

In [8]:
std.process_many(['glutathione', 'Glucosamine', 'creatine'])

WARNING:root:Multiple matches for "glutathione":
                       SOURCE  COMPOUND_ID         NAME     TYPE
NAME_lowercase
glutathione     KEGG COMPOUND        16856  Glutathione  SYNONYM
glutathione           UniProt        57925  glutathione     NAME
glutathione             ChEBI        16856  glutathione      NaN
Taking first entry.
ERROR:root:16856
WARNING:root:Multiple matches for "glutathione":
                       SOURCE  COMPOUND_ID         NAME     TYPE
NAME_lowercase
glutathione     KEGG COMPOUND        16856  Glutathione  SYNONYM
glutathione           UniProt        57925  glutathione     NAME
glutathione             ChEBI        16856  glutathione      NaN
Taking first entry.
ERROR:root:16856
WARNING:root:Multiple matches for "glucosamine":
                       SOURCE  COMPOUND_ID         NAME        TYPE
NAME_lowercase
glucosamine     KEGG COMPOUND         5417  Glucosamine     SYNONYM
glucosamine             IUPAC         5417  glucosamine  IUPAC NAME
glucosamine     KEGG COMPOUND         5417  glucosamine         NaN
Taking first entry.
WARNING:root:Multiple matches for "creatine":
                       SOURCE  COMPOUND_ID      NAME     TYPE
NAME_lowercase
creatine        KEGG COMPOUND        16919  Creatine  SYNONYM
creatine              UniProt        57947  creatine     NAME
creatine                ChEBI        16919  creatine      NaN
Taking first entry.

,QUERY,CHEBI,REF_CHEBI,REF_NAME,EXACT_MATCH,SMILES,DrugBank,KEGG COMPOUND,Chemspider,DrugCentral,HMDB,MetaCyc,PDBeChem,Wikipedia
0,glutathione,CHEBI:16856,,,True,N[C@@H](CCC(=O)N[C@@H](CS)C(=O)NCC(=O)O)C(=O)O,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Glucosamine,CHEBI:5417,CHEBI:5417,Glucosamine,True,NaN,DB01296,C01811,NaN,NaN,NaN,NaN,NaN,NaN
2,creatine,CHEBI:16919,CHEBI:16919,Creatine,True,CN(CC(O)=O)C(N)=N,DB00148,C00300,566,4661,HMDB0000064,CREATINE,CRN,Creatine

In [9]:
assert std.process('mevalonate')['REF_CHEBI'] == std.process('mevalonic acid')['REF_CHEBI']

WARNING:root:Multiple matches for "mevalonate":
                 SOURCE  COMPOUND_ID        NAME  TYPE
NAME_lowercase
mevalonate      UniProt        36464  mevalonate  NAME
mevalonate        ChEBI        36464  mevalonate   NaN
Taking first entry.
WARNING:root:Multiple matches for "mevalonic acid":
               SOURCE  COMPOUND_ID            NAME     TYPE
NAME_lowercase
mevalonic acid  ChEBI        25350  mevalonic acid  SYNONYM
mevalonic acid  ChEBI        28880  mevalonic acid      NaN
mevalonic acid  ChEBI        18790  mevalonic acid  SYNONYM
mevalonic acid  ChEBI        17710  mevalonic acid      NaN
mevalonic acid  ChEBI        36464  mevalonic acid  SYNONYM
Taking first entry.
WARNING:root:25350

In [10]:
assert std.process('(r)-mevalonate')['REF_CHEBI'] == std.process('mevalonic acid')['REF_CHEBI']

WARNING:root:Multiple matches for "(r)-mevalonate":
                 SOURCE  COMPOUND_ID            NAME  TYPE
NAME_lowercase
(r)-mevalonate  UniProt        36464  (R)-mevalonate  NAME
(r)-mevalonate    ChEBI        36464  (R)-mevalonate   NaN
Taking first entry.
WARNING:root:Multiple matches for "mevalonic acid":
               SOURCE  COMPOUND_ID            NAME     TYPE
NAME_lowercase
mevalonic acid  ChEBI        25350  mevalonic acid  SYNONYM
mevalonic acid  ChEBI        28880  mevalonic acid      NaN
mevalonic acid  ChEBI        18790  mevalonic acid  SYNONYM
mevalonic acid  ChEBI        17710  mevalonic acid      NaN
mevalonic acid  ChEBI        36464  mevalonic acid  SYNONYM
Taking first entry.
WARNING:root:25350

In [11]:
assert std.process('(r)-mevalonate')['REF_CHEBI'] == std.process('(s)-mevalonic acid')['REF_CHEBI']

WARNING:root:Multiple matches for "(r)-mevalonate":
                 SOURCE  COMPOUND_ID            NAME  TYPE
NAME_lowercase
(r)-mevalonate  UniProt        36464  (R)-mevalonate  NAME
(r)-mevalonate    ChEBI        36464  (R)-mevalonate   NaN
Taking first entry.
WARNING:root:Multiple matches for "(s)-mevalonic acid":
                   SOURCE  COMPOUND_ID                NAME     TYPE
NAME_lowercase
(s)-mevalonic acid  ChEBI        28880  (S)-mevalonic acid      NaN
(s)-mevalonic acid  ChEBI        18790  (S)-mevalonic acid  SYNONYM
Taking first entry.

In [12]:
std.process('Mevalonate')

WARNING:root:Multiple matches for "mevalonate":
                 SOURCE  COMPOUND_ID        NAME  TYPE
NAME_lowercase
mevalonate      UniProt        36464  mevalonate  NAME
mevalonate        ChEBI        36464  mevalonate   NaN
Taking first entry.

{'CHEBI': 'CHEBI:36464',
 'REF_CHEBI': 'CHEBI:25351',
 'REF_NAME': 'Mevalonic acid',
 'EXACT_MATCH': True,
 'COMPOUND_ID': 36464,
 'SMILES': 'C[C@@](O)(CCO)CC([O-])=O',
 'QUERY': 'Mevalonate',
 'KEGG COMPOUND': 'C00418',
 'MetaCyc': 'MEVALONATE',
 'PDBeChem': 'MEV'}

In [33]:
std.process('Creatine')

WARNING:root:Multiple matches for "creatine":
                       SOURCE  COMPOUND_ID      NAME     TYPE
NAME_lowercase
creatine        KEGG COMPOUND        16919  Creatine  SYNONYM
creatine              UniProt        57947  creatine     NAME
creatine                ChEBI        16919  creatine      NaN
Taking first entry.

{'CHEBI': 'CHEBI:16919',
 'REF_CHEBI': 'CHEBI:16919',
 'REF_NAME': 'Creatine',
 'EXACT_MATCH': True,
 'COMPOUND_ID': 16919,
 'SMILES': 'CN(CC(O)=O)C(N)=N',
 'QUERY': 'Creatine',
 'Chemspider': '566',
 'DrugBank': 'DB00148',
 'DrugCentral': '4661',
 'HMDB': 'HMDB0000064',
 'KEGG COMPOUND': 'C00300',
 'MetaCyc': 'CREATINE',
 'PDBeChem': 'CRN',
 'Wikipedia': 'Creatine'}

## Process multiple queries at once

## Mevalonate

In [13]:
std.process_many(['(R)-mevalonate', '(S)-mevalonate', 'mevalonate', '(R)-mevalonic acid', '(S)-mevalonic acid', 'mevalonic acid'])

WARNING:root:Multiple matches for "(r)-mevalonate":
                 SOURCE  COMPOUND_ID            NAME  TYPE
NAME_lowercase
(r)-mevalonate  UniProt        36464  (R)-mevalonate  NAME
(r)-mevalonate    ChEBI        36464  (R)-mevalonate   NaN
Taking first entry.
WARNING:root:Multiple matches for "(r)-mevalonate":
                 SOURCE  COMPOUND_ID            NAME  TYPE
NAME_lowercase
(r)-mevalonate  UniProt        36464  (R)-mevalonate  NAME
(r)-mevalonate    ChEBI        36464  (R)-mevalonate   NaN
Taking first entry.
WARNING:root:25350
WARNING:root:Multiple matches for "mevalonate":
                 SOURCE  COMPOUND_ID        NAME  TYPE
NAME_lowercase
mevalonate      UniProt        36464  mevalonate  NAME
mevalonate        ChEBI        36464  mevalonate   NaN
Taking first entry.
WARNING:root:Multiple matches for "(r)-mevalonic acid":
                   SOURCE  COMPOUND_ID                NAME     TYPE
NAME_lowercase
(r)-mevalonic acid  ChEBI        17710  (R)-mevalonic acid      NaN
(r)-mevalonic acid  ChEBI        36464  (R)-mevalonic acid  SYNONYM
Taking first entry.
WARNING:root:Multiple matches for "(s)-mevalonic acid":
                   SOURCE  COMPOUND_ID                NAME     TYPE
NAME_lowercase
(s)-mevalonic acid  ChEBI        28880  (S)-mevalonic acid      NaN
(s)-mevalonic acid  ChEBI        18790  (S)-mevalonic acid  SYNONYM
Taking first entry.
WARNING:root:Multiple matches for "mevalonic acid":
               SOURCE  COMPOUND_ID            NAME     TYPE
NAME_lowercase
mevalonic acid  ChEBI        25350  mevalonic acid  SYNONYM
mevalonic acid  ChEBI        28880  mevalonic acid      NaN
mevalonic acid  ChEBI        18790  mevalonic acid  SYNONYM
mevalonic acid  ChEBI        17710  mevalonic acid      NaN
mevalonic acid  ChEBI        36464  mevalonic acid  SYNONYM
Taking first entry.
WARNING:root:25350

,QUERY,CHEBI,REF_CHEBI,REF_NAME,EXACT_MATCH,SMILES,KEGG COMPOUND,MetaCyc,PDBeChem,DrugBank,KNApSAcK,LIPID MAPS,Wikipedia
0,(R)-mevalonate,CHEBI:36464,CHEBI:25351,Mevalonic acid,True,C[C@@](O)(CCO)CC([O-])=O,C00418,MEVALONATE,MEV,NaN,NaN,NaN,NaN
1,(S)-mevalonate,CHEBI:25350,CHEBI:25351,Mevalonic acid,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,mevalonate,CHEBI:36464,CHEBI:25351,Mevalonic acid,True,C[C@@](O)(CCO)CC([O-])=O,C00418,MEVALONATE,MEV,NaN,NaN,NaN,NaN
3,(R)-mevalonic acid,CHEBI:17710,CHEBI:25351,Mevalonic acid,True,C[C@@](O)(CCO)CC(O)=O,C00418,NaN,NaN,DB03518,C00001195,LMFA01050352,Mevalonic_acid
4,(S)-mevalonic acid,CHEBI:28880,CHEBI:25351,Mevalonic acid,True,C[C@](O)(CCO)CC(O)=O,C02104,NaN,NaN,NaN,C00001195,NaN,NaN
5,mevalonic acid,CHEBI:25350,CHEBI:25351,Mevalonic acid,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Arabitol

In [14]:
x = std.process_many(['Arabitol', 'Arabinitol', 'arabitol', 'arabinitol', 'D-arabinitol', 'L-arabinitol'])
x

WARNING:root:Multiple matches for "d-arabinitol":
                       SOURCE  COMPOUND_ID          NAME        TYPE
NAME_lowercase
d-arabinitol    KEGG COMPOUND        18333  D-Arabinitol     SYNONYM
d-arabinitol            IUPAC        18333  D-arabinitol  IUPAC NAME
d-arabinitol          UniProt        18333  D-arabinitol        NAME
d-arabinitol            ChEBI        18333  D-arabinitol         NaN
Taking first entry.
WARNING:root:Multiple matches for "l-arabinitol":
                       SOURCE  COMPOUND_ID          NAME        TYPE
NAME_lowercase
l-arabinitol    KEGG COMPOUND        18403  L-Arabinitol     SYNONYM
l-arabinitol            IUPAC        18403  L-arabinitol  IUPAC NAME
l-arabinitol          UniProt        18403  L-arabinitol        NAME
l-arabinitol            ChEBI        18403  L-arabinitol         NaN
Taking first entry.

,QUERY,CHEBI,REF_CHEBI,REF_NAME,EXACT_MATCH,SMILES,HMDB,KEGG COMPOUND,KNApSAcK,Wikipedia,MetaCyc
0,Arabitol,CHEBI:18333,CHEBI:22605,Arabinitol,False,OC[C@@H](O)C(O)[C@H](O)CO,HMDB0000568,C01904,C00001156,D-arabinitol,NaN
1,Arabinitol,CHEBI:18333,CHEBI:22605,Arabinitol,False,OC[C@@H](O)C(O)[C@H](O)CO,HMDB0000568,C01904,C00001156,D-arabinitol,NaN
2,arabitol,CHEBI:18333,CHEBI:22605,Arabinitol,False,OC[C@@H](O)C(O)[C@H](O)CO,HMDB0000568,C01904,C00001156,D-arabinitol,NaN
3,arabinitol,CHEBI:18333,CHEBI:22605,Arabinitol,False,OC[C@@H](O)C(O)[C@H](O)CO,HMDB0000568,C01904,C00001156,D-arabinitol,NaN
4,D-arabinitol,CHEBI:18333,CHEBI:22605,Arabinitol,True,OC[C@@H](O)C(O)[C@H](O)CO,HMDB0000568,C01904,C00001156,D-arabinitol,NaN
5,L-arabinitol,CHEBI:18403,CHEBI:22605,Arabinitol,True,OC[C@H](O)C(O)[C@@H](O)CO,HMDB0001851,C00532,NaN,NaN,L-ARABITOL

In [15]:
list(set(x.loc[5, 'KEGG COMPOUND']))

['3', 'C', '2', '0', '5']

# Get smiles string

In [16]:
std.get_smiles(25351)

## Not working yet

In [17]:
std.get_smiles('CHEBI:25351')

In [18]:
std.get_smiles('ChEBI:25351')

In [19]:
std.get_smiles('mevalonate')

In [20]:
std.names[std.names.NAME.str.contains('(S)-', regex=False)]

,SOURCE,COMPOUND_ID,NAME,TYPE,NAME_lowercase
102,KEGG COMPOUND,113,"(S)-1,2,3,4-tetrahydro-1-methyl-6,7-isoquinoli...",SYNONYM,"(s)-1,2,3,4-tetrahydro-1-methyl-6,7-isoquinoli..."
105,KEGG COMPOUND,15412,(S)-Ureidoglycolate,SYNONYM,(s)-ureidoglycolate
160,KEGG COMPOUND,15449,(S)-3-Hydroxy-2-methylbutyryl-CoA,SYNONYM,(s)-3-hydroxy-2-methylbutyryl-coa
359,KEGG COMPOUND,18285,(S)-Stylopine,SYNONYM,(s)-stylopine
408,KEGG COMPOUND,15455,(S)-3-Hydroxyacyl-CoA,SYNONYM,(s)-3-hydroxyacyl-coa
...,...,...,...,...,...
520403,SUBMITTER,140264,"16(S)-cystein-S-yl,17hydroxy-(4Z,7Z,10,12,14,1...",NaN,"16(s)-cystein-s-yl,17hydroxy-(4z,7z,10,12,14,1..."
520405,ChEBI,140394,"16(S)-glutathionyl-17hydroxy-(4Z,7Z,10,12,14,1...",NaN,"16(s)-glutathionyl-17hydroxy-(4z,7z,10,12,14,1..."
520406,ChEBI,140397,"16(S)-glycinylcystein-S-yl-17hydroxy-(4Z,7Z,10...",NaN,"16(s)-glycinylcystein-s-yl-17hydroxy-(4z,7z,10..."
520412,ChEBI,140401,"16(S)-cystein-S-yl,17hydroxy-(4Z,7Z,10,12,14,1...",NaN,"16(s)-cystein-s-yl,17hydroxy-(4z,7z,10,12,14,1..."
520724,ChEBI,51797,6alpha-[(S)-1-hydroxyethyl]-2-[tetrahydrofuran...,NaN,6alpha-[(s)-1-hydroxyethyl]-2-[tetrahydrofuran...

In [21]:
new_names = std.names[std.names.NAME.str.contains('(S)-', regex=False)].copy()

In [22]:
new_names['NAME'] = new_names['NAME'].str.replace('(S)-', '')

In [23]:
import pandas as pd

In [24]:
def remove_patterns(patterns):
    for pattern in patterns:
        new_names = std.names[std.names.NAME.str.contains(pattern, regex=False)].copy()
        new_names['NAME'] = new_names['NAME'].str.replace(pattern, '')    
        std.names = pd.concat([std.names, new_names]).reset_index(drop=True)

In [25]:
# remove_patterns(['(S)-', '(R)-'])
#std.names['NAME_lowercase'] = std.names.NAME.str.lower()

In [26]:
std.get_by_name('Mevalonate')

         SOURCE  COMPOUND_ID        NAME  TYPE NAME_lowercase
518200  UniProt        36464  mevalonate  NAME     mevalonate
520707    ChEBI        36464  mevalonate   NaN     mevalonate

In [27]:
std.get_by_name('mevalonate')

         SOURCE  COMPOUND_ID        NAME  TYPE NAME_lowercase
518200  UniProt        36464  mevalonate  NAME     mevalonate
520707    ChEBI        36464  mevalonate   NaN     mevalonate

In [28]:
std.get_by_name('mevalonic acid')

       SOURCE  COMPOUND_ID            NAME     TYPE  NAME_lowercase
513391  ChEBI        25350  mevalonic acid  SYNONYM  mevalonic acid
517627  ChEBI        28880  mevalonic acid      NaN  mevalonic acid
517678  ChEBI        18790  mevalonic acid  SYNONYM  mevalonic acid
520677  ChEBI        17710  mevalonic acid      NaN  mevalonic acid
520746  ChEBI        36464  mevalonic acid  SYNONYM  mevalonic acid

In [29]:
std.search('mevalonate')

WARNING:root:Multiple matches for "mevalonate":
                 SOURCE  COMPOUND_ID        NAME  TYPE
NAME_lowercase
mevalonate      UniProt        36464  mevalonate  NAME
mevalonate        ChEBI        36464  mevalonate   NaN
Taking first entry.

(SOURCE            UniProt
 COMPOUND_ID         36464
 NAME           mevalonate
 TYPE                 NAME
 Name: mevalonate, dtype: object,
 True)

In [30]:
std.names.set_index('NAME').loc['(R)-mevalonate']

                 SOURCE  COMPOUND_ID  TYPE  NAME_lowercase
NAME
(R)-mevalonate  UniProt        36464  NAME  (r)-mevalonate
(R)-mevalonate    ChEBI        36464   NaN  (r)-mevalonate

In [31]:
std.process('mevalonate')

WARNING:root:Multiple matches for "mevalonate":
                 SOURCE  COMPOUND_ID        NAME  TYPE
NAME_lowercase
mevalonate      UniProt        36464  mevalonate  NAME
mevalonate        ChEBI        36464  mevalonate   NaN
Taking first entry.

{'CHEBI': 'CHEBI:36464',
 'REF_CHEBI': 'CHEBI:25351',
 'REF_NAME': 'Mevalonic acid',
 'EXACT_MATCH': True,
 'COMPOUND_ID': 36464,
 'SMILES': 'C[C@@](O)(CCO)CC([O-])=O',
 'QUERY': 'mevalonate',
 'KEGG COMPOUND': 'C00418',
 'MetaCyc': 'MEVALONATE',
 'PDBeChem': 'MEV'}

In [32]:
std.process('mevalonic acid')

WARNING:root:Multiple matches for "mevalonic acid":
               SOURCE  COMPOUND_ID            NAME     TYPE
NAME_lowercase
mevalonic acid  ChEBI        25350  mevalonic acid  SYNONYM
mevalonic acid  ChEBI        28880  mevalonic acid      NaN
mevalonic acid  ChEBI        18790  mevalonic acid  SYNONYM
mevalonic acid  ChEBI        17710  mevalonic acid      NaN
mevalonic acid  ChEBI        36464  mevalonic acid  SYNONYM
Taking first entry.
WARNING:root:25350

{'CHEBI': 'CHEBI:25350',
 'REF_CHEBI': 'CHEBI:25351',
 'REF_NAME': 'Mevalonic acid',
 'EXACT_MATCH': True,
 'COMPOUND_ID': 25350,
 'SMILES': None,
 'QUERY': 'mevalonic acid'}